rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regra global que concede acesso de leitura e escrita a todos os documentos em todas as coleções.
    // Ideal para ambientes de desenvolvimento para evitar erros de permissão.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
